<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
        <div class="sidebar-brand-icon">
            <img src="../../../../assets/img/PSMS LOGO.png" alt="" class="w-100">
        </div>
    </a>

    <hr class="sidebar-divider my-0">

    <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="dashboard">
            <span>Dashboard</span>
        </a>
    </li>

    <ng-container *ngIf="employee.user.role_type === UserTypes.ADMIN">

        <hr class="sidebar-divider">

        <div class="sidebar-heading">
            Configuration
        </div>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="products">
                <span>Product</span>
            </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="promotional-material">
                <span>Promotional Material</span>
            </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="zone">
                <span>Zone</span>
            </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="company">
                <span>Company</span>
            </a>
        </li>

        <!-- <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="#">
            <span>Department</span>
        </a>
    </li> -->

        <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" routerLink="employees">
                <span>Employees</span>
            </a>
        </li>

    </ng-container>

    <hr class="sidebar-divider">

    <div class="sidebar-heading">
        Main
    </div>

    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.EMPLOYEE || employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="memorandum">
            <span>Memorandum</span>
        </a>
    </li>

    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.DISTRIBUTOR || employee.user.role_type === UserTypes.ADMIN">
        <a class="nav-link" routerLink="purchase-order">
            <span>Purchase Order</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active"
        *ngIf="employee.user.role_type === UserTypes.EMPLOYEE || employee.user.role_type === UserTypes.DISTRIBUTOR || employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="sales-expense">
            <span>Sales & Expense</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.DISTRIBUTOR">
        <a class="nav-link" routerLink="distributor-ledger">
            <span>Account Status</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.DISTRIBUTOR">
        <a class="nav-link" routerLink="growth-report">
            <span>Growth Report</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.DISTRIBUTOR">
        <a class="nav-link" routerLink="stock-analysis">
            <span>Stock Analysis</span>
        </a>
    </li>
    <!--<li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.DISTRIBUTOR">
        <a class="nav-link" routerLink="#">
            <span>Expire Stock Status</span>
        </a>
    </li>-->

    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="attendance">
            <span>Attendance</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.ADMIN">
        <a class="nav-link" routerLink="memorandum">
            <span>Memorandum Requests</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="reports/gifting-expenditure-report">
            <span>Client Investment Ledger</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.ADMIN">
        <a class="nav-link" routerLink="monthly-work-plan">
            <span>Monthly-Work Plan Reports</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.ADMIN">
        <a class="nav-link" routerLink="sales-expense">
            <span>Sales & Expense Reports</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="sales-expense/sales-expense-detail">
            <span>Zonal Sale Report</span>
        </a>
    </li>
    <!--<li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.ADMIN">
        <a class="nav-link" routerLink="sales-expense">
            <span>Employee Sales Report</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="distributor-ledger">
            <span>Distributor Sales Report</span>
        </a>
    </li>-->
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="distributor-ledger">
            <span>Distributor Ledger</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="sale-graph">
            <span>Product Analysis Report</span>
        </a>
    </li>

    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.EMPLOYEE">
        <a class="nav-link" routerLink="doctors">
            <span>Doctor's List</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.EMPLOYEE || employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="monthly-work-plan">
            <span>Monthly Work Plan</span>
        </a>
    </li>
    <!--<li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.EMPLOYEE || employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="daily-call-report">
            <span>Daily Call Report</span>
        </a>
    </li> -->
    <li class="nav-item" *ngIf="employee.user.role_type === UserTypes.EMPLOYEE">
        <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseReports" aria-expanded="true" aria-controls="collapseReports">
            <span>Reports</span>
        </a>
        <div id="collapseReports" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="reports/gifting-expenditure-report">Client Gifting Expenditure Report</a>
                <div class="collapse-divider"></div>
            </div>
        </div>
        <div id="collapseReports" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="reports/promotional-material-report">Client Promotional Material Report</a>
                <div class="collapse-divider"></div>
            </div>
        </div>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.ADMIN">
        <a class="nav-link" routerLink="product-analysis">
            <span>Employee Incentive Report</span>
        </a>
    </li>
    <!--<li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="#">
            <span>Distributor Analysis Report</span>
        </a>
    </li>
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="#">
            <span>Employee Activity Report</span>
        </a>
    </li>-->
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="budget-distribution">
            <span>Budget Distribution</span>
        </a>
    </li>
    <!--<li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="target-sale-product">
            <span>Target Sale Product</span>
        </a>
    </li>-->
    <li class="nav-item" routerLinkActive="active" *ngIf="employee.user.role_type === UserTypes.MANAGER">
        <a class="nav-link" routerLink="target-assignment">
            <span>Target Assignment Employee</span>
        </a>
    </li>

</ul>