<form [formGroup]="workPlanForm" (ngSubmit)="onSubmit()" class="card shadow">
  <div class="card-header d-flex align-items-center justify-content-between py-3">
    <h1 class="m-0 font-weight-bold text-primary">Work Plan</h1>
    <div class="close-modal c-pointer" (click)="onClose()">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12.59 6L10 8.59L7.41 6L6 7.41L8.59 10L6 12.59L7.41 14L10 11.41L12.59 14L14 12.59L11.41 10L14 7.41L12.59 6ZM10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18Z"
          fill="#4e73df" />
      </svg>
    </div>
  </div>
  <div *ngIf="loading" class="d-flex justify-content-center mt-3">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <div class="card-body" *ngIf="!loading">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>From Date</mat-label>
            <input matInput type="date" formControlName="from_date" placeholder="From Date">
            <mat-error>
              From Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>To Date</mat-label>
            <input matInput type="date" formControlName="to_date" placeholder="To Date">
            <mat-error>
              To Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Month</mat-label>
            <mat-select formControlName="month">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let month of monthsList" [value]="month.id">{{month.name}}</mat-option>
            </mat-select>
            <mat-error>
              Month is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Year</mat-label>
            <mat-select formControlName="year">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let year of yearsList" [value]="year.value">{{year.value}}</mat-option>
            </mat-select>
            <mat-error>
              Year is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <ng-container formArrayName="work_plan_details" *ngFor="let work_plan of work_plan_details.controls; let i = index">
      <div class="work-plan-wrapper mb-2" [formGroupName]="i">
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Date</mat-label>
                    <input matInput type="date" formControlName="date" placeholder="Date">
                    <mat-error>
                      Date is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Revised Date</mat-label>
                    <input matInput type="date" formControlName="revised_date" placeholder="Revised Date">
                    <mat-error>
                      Revised Date is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Work Type</mat-label>
                    <mat-select formControlName="work_type">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let work_type of workType" [value]="work_type.id">{{work_type.name}}</mat-option>
                    </mat-select>
                    <mat-error>
                      Year is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Doctors</mat-label>
                    <mat-select formControlName="doctor">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let doctor of lookupDoctors" [value]="doctor.id">{{doctor.firstName+ " "+ doctor.lastName}}</mat-option>
                    </mat-select>
                    <mat-error>
                      Doctor is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Morning Area</mat-label>
                    <input matInput type="text" formControlName="morning_area" placeholder="Morning Area">
                    <mat-error>
                      Morning Area is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Morning Time</mat-label>
                    <input matInput type="time" formControlName="morning_time" placeholder="Morning Time">
                    <mat-error>
                      Morning Time is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Evening Area</mat-label>
                    <input matInput type="text" formControlName="evening_area" placeholder="Evening Area">
                    <mat-error>
                      Evening Area is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Evening Time</mat-label>
                    <input matInput type="time" formControlName="evening_time" placeholder="Evening Time">
                    <mat-error>
                      Evening Time is <strong>required</strong>
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-12 text-right">
                <a class="btn p-0 font-weight-bold text-danger" href="javascript:void(0);" (click)="removeWorkPlan(i)">
                  Remove
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <div class="mt-2 mb-3 col-md-12 text-right">
      <a class="btn p-0 font-weight-bold text-primary" href="javascript:void(0);" (click)="addWorkPlan()">Add Work
        Plan</a>
    </div>
  </div>
  <div class="card-footer text-center">
    <button class="btn btn-danger" (click)="onClear()">Clear</button>
    <button class="btn btn-primary ml-2">Save</button>
  </div>
</form>