<div [formGroup]="form" class="card shadow">
    <div class="card-header d-flex align-items-center justify-content-between py-3">
      <h1 class="m-0 font-weight-bold text-primary">Target Assignment</h1>
    </div>
    <!-- <div *ngIf="loading" class="d-flex justify-content-center mt-3">
      <mat-spinner diameter="40"></mat-spinner>
    </div> -->
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12 col-md-3">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Company</mat-label>
                <mat-select formControlName="company_id" (selectionChange)="loadUsers();loadChart();">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let company of lookupCompanies" [value]="company.id">{{ company.name }}</mat-option>
                </mat-select>
                <mat-error>
                    Company is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Zone</mat-label>
                <mat-select formControlName="zone_id" (selectionChange)="loadUsers();loadChart();">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let zone of lookupZones" [value]="zone.id">{{ zone.zone }}</mat-option>
                </mat-select>
                <mat-error>
                    Zone is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Employee</mat-label>
                <mat-select formControlName="employee_id" (selectionChange)="loadChart()">
                    <mat-option>None</mat-option>
                    <mat-option *ngFor="let user of lookupUsers" [value]="user.id">{{ user.name }}</mat-option>
                </mat-select>
                <mat-error>
                    Employee is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-12 col-md-3">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
                <mat-label>Year</mat-label>
                <mat-select formControlName="year" (selectionChange)="loadChart()">
                    <mat-option>None</mat-option>
                    <mat-option [value]="2022">2022</mat-option>
                    <mat-option [value]="2023">2023</mat-option>
                    <mat-option [value]="2024">2024</mat-option>
                </mat-select>
                <mat-error>
                    Year is <strong>required</strong>
                </mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
</div>