<form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="card shadow">
  <div class="card-header d-flex align-items-center justify-content-between py-3">
    <h1 class="m-0 font-weight-bold text-primary">Employee</h1>
    <div class="close-modal c-pointer" (click)="onClose()">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12.59 6L10 8.59L7.41 6L6 7.41L8.59 10L6 12.59L7.41 14L10 11.41L12.59 14L14 12.59L11.41 10L14 7.41L12.59 6ZM10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18Z"
          fill="#4e73df" />
      </svg>
    </div>
  </div>
  <div *ngIf="loading" class="d-flex justify-content-center mt-3">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <div class="card-body" *ngIf="!loading">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Employee ID</mat-label>
            <input matInput type="text" formControlName="username" placeholder="Employee ID">
            <mat-error>
              Employee ID is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" placeholder="Password">
            <mat-error>
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Name">
            <mat-error>
              Name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>CNIC</mat-label>
            <input matInput type="text" formControlName="cnic" placeholder="CNIC">
            <mat-error>
              CNIC is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Designation</mat-label>
            <input matInput type="text" formControlName="designation" placeholder="Designation">
            <mat-error>
              Designation is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput type="text" formControlName="phone_number" placeholder="Mobile Number">
            <mat-error>
              Mobile Number is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Address</mat-label>
            <input matInput type="text" formControlName="address" placeholder="Address">
            <mat-error>
              Address is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Salary</mat-label>
            <input matInput type="text" formControlName="salary" placeholder="Salary">
            <mat-error>
              Salary is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Zone</mat-label>
            <mat-select formControlName="zone_id">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let zones of lookupZones" [value]="zones.id">{{zones.zone}}</mat-option>
            </mat-select>
            <mat-error>
              Zone is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Company</mat-label>
            <mat-select formControlName="company_id">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let company of lookupCompanies" [value]="company.id">{{company.name}}</mat-option>
            </mat-select>
            <mat-error>
              Company is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Department</mat-label>
            <mat-select formControlName="department_id">
              <mat-option>None</mat-option>
              <mat-option value="1">Option 1</mat-option>
              <mat-option value="2">Option 2</mat-option>
              <mat-option value="3">Option 3</mat-option>
            </mat-select>
            <mat-error>
              Department is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div> -->
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role_type">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let role of lookupRoles" [value]="role.id">{{role.role}}</mat-option>
            </mat-select>
            <mat-error>
              Role is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
              <mat-option>None</mat-option>
              <mat-option [value]="true">Active</mat-option>
              <mat-option [value]="false">In Active</mat-option>
            </mat-select>
            <mat-error>
              Status is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-center">
    <button class="btn btn-danger" (click)="onClear()">Clear</button>
    <button class="btn btn-primary ml-2">Save</button>
  </div>
</form>