<div class="login-wrapper bg-gradient-primary">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h1 text-gray-900 mb-4">
                      <img src="../../../../assets/img/PSMS LOGO.png" alt="" class="w-100">
                    </h1>
                  </div>
                  <hr>
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="user">
                    <div class="form-group">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Employee ID</mat-label>
                        <input matInput type="text" formControlName="username" placeholder="Employee ID">
                        <mat-error *ngIf="username?.hasError('required')">
                          Employee ID is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <div class="form-group">
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" placeholder="Password">
                        <mat-error *ngIf="password?.hasError('required')">
                          Password is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">
                      Login
                    </button>
                    <div *ngIf="loading" class="d-flex justify-content-center mt-3">
                      <mat-spinner diameter="40"></mat-spinner>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>