<form [formGroup]="targetAssignmentForm" (submit)="onSubmit()" class="card shadow">
  <div class="card-header d-flex align-items-center justify-content-between py-3">
    <h1 class="m-0 font-weight-bold text-primary">Target Assignment</h1>
    <div class="close-modal c-pointer" (click)="onClose()">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12.59 6L10 8.59L7.41 6L6 7.41L8.59 10L6 12.59L7.41 14L10 11.41L12.59 14L14 12.59L11.41 10L14 7.41L12.59 6ZM10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18Z"
          fill="#4e73df" />
      </svg>
    </div>
  </div>
  <div *ngIf="loading" class="d-flex justify-content-center mt-3">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <div class="card-body" *ngIf="!loading">
    <div class="row">
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
              <mat-label>Company</mat-label>
              <mat-select formControlName="company_id" (selectionChange)="loadUsers();loadProducts();">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let company of lookupCompanies" [value]="company.id">{{ company.name }}</mat-option>
              </mat-select>
              <mat-error>
                  Company is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
              <mat-label>Zone</mat-label>
              <mat-select formControlName="zone_id" (selectionChange)="loadUsers()">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let zone of lookupZones" [value]="zone.id">{{ zone.zone }}</mat-option>
              </mat-select>
              <mat-error>
                  Zone is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
              <mat-label>Year</mat-label>
              <mat-select formControlName="year">
                  <mat-option>None</mat-option>
                  <mat-option [value]="2022">2022</mat-option>
                  <mat-option [value]="2023">2023</mat-option>
                  <mat-option [value]="2024">2024</mat-option>
              </mat-select>
              <mat-error>
                  Year is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
              <mat-label>Month</mat-label>
              <mat-select formControlName="month">
                  <mat-option>None</mat-option>
                  <mat-option [value]="1">Jan</mat-option>
                  <mat-option [value]="2">Feb</mat-option>
                  <mat-option [value]="3">Mar</mat-option>
                  <mat-option [value]="4">Apr</mat-option>
                  <mat-option [value]="5">May</mat-option>
                  <mat-option [value]="6">Jun</mat-option>
                  <mat-option [value]="7">Jul</mat-option>
                  <mat-option [value]="8">Aug</mat-option>
                  <mat-option [value]="9">Sep</mat-option>
                  <mat-option [value]="10">Oct</mat-option>
                  <mat-option [value]="11">Nov</mat-option>
                  <mat-option [value]="12">Dec</mat-option>
              </mat-select>
              <mat-error>
                  Month is <strong>required</strong>
              </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="target-sale-wrapper">
      <div class="row pt-3">
        <ng-container formArrayName="target_assignment_details" *ngFor="let target_assignment of target_assignment_details.controls; let i=index">
          <ng-container [formGroupName]="i">
            <div class="col-md-2">
              <div class="form-group">
                <div class="form-control assignment-label">
                  <span>{{ target_assignment_details.controls[i].get("employee_name")?.value }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <div class="form-control assignment-label">
                  <span>{{ target_assignment_details.controls[i].get("product_name")?.value }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Order Unit</mat-label>
                  <input matInput formControlName="order_unit" placeholder="Order Unit">
                  <mat-error>
                    Order Unit is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="card-footer text-center">
    <button type="submit" class="btn btn-primary ml-2">{{ isEditMode ? 'Update': 'Save'}}</button>
  </div>
</form>