<div id="wrapper">
    <app-side-menu class="sidebar bg-dark sidebar-main sidebar-expand-lg"></app-side-menu>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
            <app-navigation></app-navigation>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>