<div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between">
        <h3 class="m-0 font-weight-bold">Growth Report</h3>
        <a class="btn btn-primary" ><i class="fas fa-plus" aria-hidden="true"></i></a>
      </div>
      <div class="card-body">
        <div class="table">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 1001.9 718.5" style="enable-background:new 0 0 1001.9 718.5;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#0F4568;stroke-miterlimit:10;}
	.st1{fill:url(#SVGID_1_);}
	.st2{fill:none;stroke:#6D6E71;stroke-width:0.25;stroke-miterlimit:10;}
	.st3{fill:#5A7C93;}
	.st4{font-family:'ProximaNova-Regular';}
	.st5{font-size:18px;}
	.st6{fill:none;stroke:#0F4568;stroke-width:0.5;stroke-miterlimit:10;}
	.st7{fill:#124A7E;}
	.st8{font-family:'Gotham-Medium';}
	.st9{font-size:22.4932px;}
	.st10{fill:url(#SVGID_2_);}
</style>
<line class="st0" x1="149.3" y1="637.1" x2="149.3" y2="646.2"/>
<line class="st0" x1="201.3" y1="637.1" x2="201.3" y2="646.2"/>
<line class="st0" x1="253.4" y1="637.1" x2="253.4" y2="646.2"/>
<line class="st0" x1="305.4" y1="637.1" x2="305.4" y2="646.2"/>
<line class="st0" x1="357.5" y1="637.1" x2="357.5" y2="646.2"/>
<line class="st0" x1="409.5" y1="637.1" x2="409.5" y2="646.2"/>
<line class="st0" x1="461.5" y1="637.1" x2="461.5" y2="646.2"/>
<line class="st0" x1="513.6" y1="637.1" x2="513.6" y2="646.2"/>
<line class="st0" x1="565.6" y1="637.1" x2="565.6" y2="646.2"/>
<line class="st0" x1="617.7" y1="637.1" x2="617.7" y2="646.2"/>
<line class="st0" x1="669.7" y1="637.1" x2="669.7" y2="646.2"/>
<line class="st0" x1="721.7" y1="637.1" x2="721.7" y2="646.2"/>
<line class="st0" x1="773.8" y1="637.1" x2="773.8" y2="646.2"/>
<line class="st0" x1="825.8" y1="637.1" x2="825.8" y2="646.2"/>
<line class="st0" x1="877.9" y1="637.1" x2="877.9" y2="646.2"/>
<g>
	<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="516.6659" y1="169.2165" x2="633.7513" y2="1713.8444">
		<stop  offset="0" style="stop-color:#FFFFFF"/>
		<stop  offset="1" style="stop-color:#54B5D3"/>
	</linearGradient>
	<rect x="122.1" y="13.2" class="st1" width="812.7" height="623.9"/>
	<g>
		<line class="st2" x1="127.8" y1="534" x2="934.9" y2="534"/>
		<line class="st2" x1="127.8" y1="429.8" x2="934.9" y2="429.8"/>
		<line class="st2" x1="127.8" y1="325.7" x2="934.9" y2="325.7"/>
		<line class="st2" x1="127.8" y1="221.5" x2="934.9" y2="221.5"/>
		<line class="st2" x1="127.8" y1="117.3" x2="934.9" y2="117.3"/>
	</g>
</g>
<g>
	<g>
		<text transform="matrix(1 0 0 1 73.7003 637.0692)" class="st3 st4 st5">0%</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 69.4884 541.0955)" class="st3 st4 st5">20</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 69.7584 421.7528)" class="st3 st4 st5">40</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 69.4615 332.8875)" class="st3 st4 st5">60</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 69.5426 231.6024)" class="st3 st4 st5">80</text>
	</g>
	<g>
		<text transform="matrix(1 0 0 1 66.2218 125.7791)" class="st3 st4 st5">100</text>
	</g>
</g>
<line class="st6" x1="126" y1="637.1" x2="955.2" y2="637.1"/>
<rect x="847.4" y="360.6" transform="matrix(-1 5.385857e-011 -5.385857e-011 -1 1782.2366 997.658)" class="st7" width="87.5" height="276.5"/>
<rect x="672.6" y="232.1" transform="matrix(-1 8.975030e-011 -8.975030e-011 -1 1432.7279 869.1461)" class="st7" width="87.5" height="405"/>
<rect x="497.9" y="347.6" transform="matrix(-1 1.766310e-010 -1.766310e-010 -1 1083.2192 984.658)" class="st7" width="87.5" height="289.5"/>
<rect x="323.1" y="456.9" transform="matrix(-1 8.975030e-011 -8.975030e-011 -1 733.7106 1093.9711)" class="st7" width="87.5" height="180.2"/>
<rect x="137.8" y="531.9" transform="matrix(-1 8.972943e-011 -8.972943e-011 -1 363.0841 1168.9962)" class="st7" width="87.5" height="105.1"/>
<text transform="matrix(1 0 0 1 15.7882 59.911)" class="st7 st8 st9">GROWTH REPORT</text>
<g>
	<text transform="matrix(1 0 0 1 161.1119 681.4388)" class="st3 st4 st5">2018</text>
</g>
<g>
	<text transform="matrix(1 0 0 1 341.0392 681.4388)" class="st3 st4 st5">2019</text>
</g>
<g>
	<text transform="matrix(1 0 0 1 517.0392 681.4388)" class="st3 st4 st5">2020</text>
</g>
<g>
	<text transform="matrix(1 0 0 1 687.1339 681.4388)" class="st3 st4 st5">2021</text>
</g>
<g>
	<text transform="matrix(1 0 0 1 866.0392 681.4388)" class="st3 st4 st5">2022</text>
</g>
</svg>

                
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div> 