<form [formGroup]="purchaseOrderForm" (submit)="onSubmit()" class="card shadow">
  <div class="card-header d-flex align-items-center justify-content-between py-3">
    <h1 class="m-0 font-weight-bold text-primary">Purchase Order</h1>
    <div class="close-modal c-pointer" (click)="onClose()">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12.59 6L10 8.59L7.41 6L6 7.41L8.59 10L6 12.59L7.41 14L10 11.41L12.59 14L14 12.59L11.41 10L14 7.41L12.59 6ZM10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18Z"
          fill="#4e73df" />
      </svg>
    </div>
  </div>
  <div *ngIf="loading" class="d-flex justify-content-center mt-3">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <div class="card-body" *ngIf="!loading">
    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <div class="form-control purchase-label">
            <b>ID: &nbsp;</b>{{ currentEmployee.username }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="form-control purchase-label">
            <b>Name: &nbsp;</b>{{ currentEmployee.name }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="form-control purchase-label">
            <b>Zone: &nbsp;</b>{{ currentEmployee.zone.zone }}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Order date</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="order_date">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error>
            Order Date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <div class="form-control purchase-label">
            <b>Area: &nbsp;</b>{{ distributer_area?.value }}
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>Company</mat-label>
            <mat-select formControlName="company_id">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let company of lookupCompanies" [value]="company.id">{{company.name}}</mat-option>
            </mat-select>
            <mat-error>
              Company is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="purchase-order-wrapper">
      <ng-container formArrayName="product_units" *ngFor="let product of product_units.controls; let i=index">
        <div class="row pt-3" [formGroupName]="i">
          <div class="col-md-2">
            <div class="form-group">
              <div class="form-control purchase-label">
                <span>{{ product_units.controls[i].get("product_name")?.value }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Order Unit</mat-label>
                <input matInput formControlName="order_unit" placeholder="Order Unit" (change)="countOrderUnit()">
                <mat-error>
                  Order Unit is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="form-control purchase-label">
                <span>{{ product_units.controls[i].get("price")?.value | number }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="form-control purchase-label">
                <span>{{ (product_units.controls[i].get("price")?.value *
                  product_units.controls[i].get("order_unit")?.value) | number }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="form-control purchase-label">
                <span>{{ (product_units.controls[i].get("order_unit")?.value / 12) | number: '1.0-0' }}</span>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group">
              <div class="form-control purchase-label">
                <span>12</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
      <div class="row pt-3">
        <div class="col-md-2">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Order Unit</mat-label>
              <input matInput placeholder="Total Order Unit" value="{{ total_order_unit }}" readonly>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Total Price</mat-label>
              <input matInput placeholder="Total Price" value="{{ total_price }}" readonly>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <section class="example-section" *ngIf="employee?.role_type == UserTypes.ADMIN">
      <mat-slide-toggle
          [color]="primary" formControlName="is_accepted">
        Approve
      </mat-slide-toggle>
    </section>
  </div>
  <div class="card-footer text-center">
    <button type="submit" class="btn btn-primary ml-2">{{ isEditMode ? 'Update': 'Save'}}</button>
  </div>
</form>