<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between">
            <h3 class="m-0 font-weight-bold">Client Promotional Material Report</h3>
        </div>
        <div class="card-body">
            <div class="table">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div id="dataTable_filter" class="dataTables_filter">
                                <label>Search:<input type="search" class="form-control form-control-sm" placeholder=""
                                        aria-controls="dataTable" /></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="mb-0 table table-hover" id="productsale">
                                <thead>
                                    <tr>
                                        <th>CPID</th>
                                        <th>Zone</th>
                                        <th>Area</th>
                                        <th>Employee</th>
                                        <th>Month</th>
                                        <th>Promotional Item</th>
                                        <th>Quantity</th>
                                        <th>Price</th>
                                        <th>Total price</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Z-102</td>
                                        <td>Lahore</td>
                                        <td>Mobin</td>
                                        <td>0002-02</td>
                                        <td>pen2</td>
                                        <td>22</td>
                                        <td>20</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Z-102</td>
                                        <td>Lahore</td>
                                        <td>Mobin</td>
                                        <td>0001-01</td>
                                        <td>pen2</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Z-102</td>
                                        <td>Lahore</td>
                                        <td>Mobin</td>
                                        <td>0001-01</td>
                                        <td>Pen</td>
                                        <td>1</td>
                                        <td>2</td>
                                        <td>100</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Z-102</td>
                                        <td>Lahore</td>
                                        <td>Mobin</td>
                                        <td>0002-02</td>
                                        <td>Pen</td>
                                        <td>10</td>
                                        <td>20</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Z-102</td>
                                        <td>Lahore</td>
                                        <td>Mobin</td>
                                        <td>0002-02</td>
                                        <td>pen2</td>
                                        <td>10</td>
                                        <td>15</td>
                                        <td>150</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>Z-102</td>
                                        <td>Lahore</td>
                                        <td>Mobin</td>
                                        <td>0001-01</td>
                                        <td>pen2</td>
                                        <td>1</td>
                                        <td>15</td>
                                        <td>15</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>Z-102</td>
                                        <td>Lahore</td>
                                        <td>Mobin</td>
                                        <td>0002-02</td>
                                        <td>pen2</td>
                                        <td>5</td>
                                        <td>15</td>
                                        <td>75</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>Z-102</td>
                                        <td>Lahore</td>
                                        <td>Mobin</td>
                                        <td>0002-02</td>
                                        <td>Pen</td>
                                        <td>2</td>
                                        <td>20</td>
                                        <td>40</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>Z-102</td>
                                        <td>Lahore</td>
                                        <td>Mobin</td>
                                        <td>0006-06</td>
                                        <td>pen2</td>
                                        <td>66</td>
                                        <td>15</td>
                                        <td>990</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>Z-102</td>
                                        <td>Lahore</td>
                                        <td>Mobin</td>
                                        <td>0006-06</td>
                                        <td>pen2</td>
                                        <td>66</td>
                                        <td>15</td>
                                        <td>990</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">11</th>
                                        <td>Z-102</td>
                                        <td>Lahore</td>
                                        <td>Mobin</td>
                                        <td>0006-06</td>
                                        <td>Pen</td>
                                        <td>66</td>
                                        <td>20</td>
                                        <td>1320</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.container-fluid -->