.sale-expense-wrapper {
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  padding: 0.375rem 0.75rem;
}

.sale-label {
  height: 52px;
  display: flex;
  align-items: center;
  margin: 0.25em 0;
  background-color: #e9e9e9;
}
