<form [formGroup]="salesExpenseForm" (ngSubmit)="onSubmit()" class="card shadow">
  <div class="card-header d-flex align-items-center justify-content-between py-3">
    <h1 class="m-0 font-weight-bold text-primary">Sales & Expense</h1>
    <div class="close-modal c-pointer" (click)="onClose()">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M12.59 6L10 8.59L7.41 6L6 7.41L8.59 10L6 12.59L7.41 14L10 11.41L12.59 14L14 12.59L11.41 10L14 7.41L12.59 6ZM10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18Z"
          fill="#4e73df" />
      </svg>
    </div>
  </div>
  <div *ngIf="loading" class="d-flex justify-content-center mt-3">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
  <div class="card-body" *ngIf="!loading">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <div class="form-control sale-label">
            <b>ID: &nbsp;</b>{{ currentEmployee.username }}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="form-control sale-label">
            <b>Name: &nbsp;</b>{{ currentEmployee.name }}
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <div class="form-control sale-label">
            <b>Zone: &nbsp;</b>{{ currentEmployee.zone.zone }}
          </div>
        </div>
      </div>
    </div>
    <div class="sale-expense-wrapper">
      <div class="row pt-3">
        <ng-container formArrayName="product_units" *ngFor="let product of product_units.controls; let i=index">
          <ng-container [formGroupName]="i">
            <div class="col-md-3">
              <div class="form-group">
                <div class="form-control sale-label">
                  <span>{{ product_units.controls[i].get("name")?.value }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Unit Sale</mat-label>
                  <input matInput formControlName="product_unit" placeholder="Unit Sale">
                  <mat-error>
                    Unit Sale is <strong>required</strong>
                  </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="form-control sale-label">
                  <span>{{ product_units.controls[i].get("price")?.value | number }}</span>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="form-control sale-label">
                  <span>{{ (product_units.controls[i].get("price")?.value *
                    product_units.controls[i].get("product_unit")?.value) | number }}</span>
                </div>
              </div>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <div class="form-control sale-label">
              <strong class="text-dark text-center">Total Units Sold</strong>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="form-control sale-label">
              <span>{{ onTotalUnitsSold() | number}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <div class="form-control sale-label">
              <strong class="text-dark text-center">Total Sale Value</strong>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="form-control sale-label">
              <span>{{ onTotalSaleValue() | number}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="text-dark">
        <div class="card-body">
            <span class="text-dark-100">1. Monthly Expense Details (Current Month)</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body row pt-3 py-2">
        <div class="col-md-12">
          <div class="row" [formGroup]="monthlyExpenseForm">
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <input matInput type="date" placeholder="Date of Expense" formControlName="monthlyDate">
                  <mat-error>
                      Date of Expense is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                    <input matInput type="text" placeholder="Name" formControlName="monthlyName">
                    <mat-error>
                        Unit Sale is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <input matInput type="number" placeholder="Expense Amount" formControlName="monthlyAmount">
                  <mat-error>
                      Unit Sale is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-primary" (click)="onAddMonthlyExpense()">Add More</button>
              </div>
            </div>
          </div>
        </div>
        <ng-container formArrayName="monthly_expense_details" *ngFor="let monthly_expense of monthly_expense_details.controls; let i=index">
          <ng-container [formGroupName]="i">
            <div class="col-md-3">
              <div class="form-group">
                <div class="card bg-light text-white">
                  <div class="card-body">
                    <span class="text-dark text-center shadow">{{ monthly_expense.get("date")?.value | date: "dd-MMM-yyyy" }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="card bg-light text-white">
                  <div class="card-body">
                    <span class="text-dark text-center shadow">{{ monthly_expense.get("name")?.value }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="card bg-light text-white">
                  <div class="card-body">
                    <span class="text-dark text-center shadow">{{ monthly_expense.get("amount")?.value | number }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-danger" (click)="onRemoveMonthlyExpense(i)">Remove</button>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <div class="col-md-3">
          <div class="form-group">
            <div class="card bg-light text-white">
              <div class="card-body">
                <span class="text-dark text-center">Total Month Expense</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="card bg-secondary text-white shadow">
              <div class="card-body">
                <span class="text-white">{{ onTotalMonthExpense() | number}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-dark">
        <div class="card-body">
            <span class="text-dark-100">2. Annual Expense Details (Current Month)</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body row pt-3 py-2">
        <div class="col-md-12">
          <div class="row" [formGroup]="annualyExpenseForm">
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <input matInput type="date" placeholder="Date of Expense" formControlName="annualyDate">
                  <mat-error>
                      Date of Expense is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                    <input matInput type="text" placeholder="Name" formControlName="annualyName">
                    <mat-error>
                        Unit Sale is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <input matInput type="number" placeholder="Expense Amount" formControlName="annualyAmount">
                  <mat-error>
                      Unit Sale is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-primary" (click)="onAddAnnualyExpense()">Add More</button>
              </div>
            </div>
          </div>
        </div>
        <ng-container formArrayName="annualy_expense_details" *ngFor="let annualy_expense of annualy_expense_details.controls; let i=index">
          <ng-container [formGroupName]="i">
            <div class="col-md-3">
              <div class="form-group">
                <div class="card bg-light text-white">
                  <div class="card-body">
                    <span class="text-dark text-center shadow">{{ annualy_expense.get("date")?.value | date: "dd-MMM-yyyy" }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="card bg-light text-white">
                  <div class="card-body">
                    <span class="text-dark text-center shadow">{{ annualy_expense.get("name")?.value }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="card bg-light text-white">
                  <div class="card-body">
                    <span class="text-dark text-center shadow">{{ annualy_expense.get("amount")?.value | number }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-danger" (click)="onRemoveAnnualyExpense(i)">Remove</button>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <div class="col-md-3">
          <div class="form-group">
            <div class="card bg-light text-white">
              <div class="card-body">
                <span class="text-dark text-center">Total Annual Expense</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="card bg-secondary text-white shadow">
              <div class="card-body">
                <span class="text-white">{{ onTotalAnnualExpense() | number}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="text-dark">
        <div class="card-body">
            <span class="text-dark-100">3. Claims Expense Details (Current Month)</span>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body row pt-3 py-2">
        <div class="col-md-12">
          <div class="row" [formGroup]="claimExpenseForm">
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <input matInput type="date" placeholder="Date of Expense" formControlName="claimDate">
                  <mat-error>
                      Date of Expense is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                    <input matInput type="text" placeholder="Name" formControlName="claimName">
                    <mat-error>
                        Unit Sale is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <mat-form-field class="w-100" appearance="outline">
                  <input matInput type="number" placeholder="Expense Amount" formControlName="claimAmount">
                  <mat-error>
                      Unit Sale is <strong>required</strong>
                  </mat-error>
              </mat-form-field>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-primary" (click)="onAddClaimExpense()">Add More</button>
              </div>
            </div>
          </div>
        </div>
        <ng-container formArrayName="claim_expense_details" *ngFor="let claim_expense of claim_expense_details.controls; let i=index">
          <ng-container [formGroupName]="i">
            <div class="col-md-3">
              <div class="form-group">
                <div class="card bg-light text-white">
                  <div class="card-body">
                    <span class="text-dark text-center shadow">{{ claim_expense.get("date")?.value | date: "dd-MMM-yyyy" }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="card bg-light text-white">
                  <div class="card-body">
                    <span class="text-dark text-center shadow">{{ claim_expense.get("name")?.value }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <div class="card bg-light text-white">
                  <div class="card-body">
                    <span class="text-dark text-center shadow">{{ claim_expense.get("amount")?.value | number }}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <button class="btn btn-danger" (click)="onRemoveClaimExpense(i)">Remove</button>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <div class="col-md-3">
          <div class="form-group">
            <div class="card bg-light text-white">
              <div class="card-body">
                <span class="text-dark text-center">Current Month Expense</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <div class="card bg-secondary text-white shadow">
              <div class="card-body">
                <span class="text-white">{{ onTotalCurrentClaimExpense() | number}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
        </div>
      </div>
    </div> -->
  </div>
  <div class="card-footer text-center">
    <!-- <button class="btn btn-danger" (click)="onClear()">Clear</button> -->
    <button class="btn btn-primary ml-2">Save</button>
  </div>
</form>