<div [formGroup]="form" class="container">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between">
        <h3 class="m-0 font-weight-bold">Sales & Expense Details</h3>
        <!-- <a class="btn btn-primary" (click)="onSalesExpense()"><i class="fas fa-plus" aria-hidden="true"></i> Add Sales &
          Expense</a> -->
      </div>
      <div class="card-body">
        <div class="table">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
              <div class="col-sm-12 col-md-3">
                <div id="dataTable_filter" class="dataTables_filter">
                  <div class="form-group">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>Company</mat-label>
                        <mat-select formControlName="company_id" (selectionChange)="onCompany()">
                            <mat-option>None</mat-option>
                            <mat-option *ngFor="let company of lookupCompanies" [value]="company.id">{{ company.name }}</mat-option>
                        </mat-select>
                        <mat-error>
                            Company is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                </div>
              </div>
            </div>
            <div *ngIf="companySelected" class="card row">
              <div class="card-body col-sm-12">
                <table class="table table-responsive">
                    <thead>
                        <th>ID</th>
                        <th>Member Zone</th>
                        <th>Distributer Name</th>
                        <th>Month Of Sales</th>
                        <th>Year of Sales</th>
                        <ng-container *ngFor="let product of distributer_sales[0]?.product_units">
                            <th>{{ product.name }}</th>
                        </ng-container>
                        <th>Total Units Sold</th>
                        <th>Total Sale Value</th>
                        <!-- <th>Total Expense</th> -->
                    </thead>
                    
                    <tbody>
                        <ng-container *ngFor="let product of distributer_sales">
                            <tr>
                                <td>{{product.user.id}}</td>
                                <td>{{product.user.zone.zone}}</td>
                                <td>{{product.user.name}}</td>
                                <td>{{product.created_at  | date:"MMMM"}}</td>
                                <td>{{product.created_at  | date:"YYYY"}}</td>
                                <ng-container *ngFor="let products of product?.product_units">
                                    <td>{{ products.product_unit }}</td>
                                </ng-container>
                                <td>{{ product.total_unit_sold | number }}</td>
                                <td>{{ product.total_sale_value | number }}</td>
                                <!-- <td>{{ (product.total_month_expense + product.total_annual_expense + product.total_claim_expense + product.total_promotional_expense) | number }}</td> -->
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="companySelected" class="card row">
              <div class="card-body col-sm-12">
                <table class="table table-responsive">
                    <thead>
                        <th>ID</th>
                        <th>Member Zone</th>
                        <th>Member Name</th>
                        <th>Month Of Sales</th>
                        <th>Year of Sales</th>
                        <ng-container *ngFor="let product of employee_sales[0]?.product_units">
                            <th>{{ product.name }}</th>
                        </ng-container>
                        <th>Total Units Sold</th>
                        <th>Total Sale Value</th>
                        <!-- <th>Total Expense</th> -->
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let product of employee_sales">
                            <tr>
                                <td>{{product.user.id}}</td>
                                <td>{{product.user.zone.zone}}</td>
                                <td>{{product.user.name}}</td>
                                <td>{{product.created_at  | date:"MMMM"}}</td>
                                <td>{{product.created_at  | date:"YYYY"}}</td>
                                <ng-container *ngFor="let products of product?.product_units">
                                    <td>{{ products.product_unit }}</td>
                                </ng-container>
                                <td>{{ product.total_unit_sold | number }}</td>
                                <td>{{ product.total_sale_value | number }}</td>
                                <!-- <td>{{ (product.total_month_expense + product.total_annual_expense + product.total_claim_expense + product.total_promotional_expense) | number }}</td> -->
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="companySelected" class="card row">
              <div class="card-body col-sm-12">
                <table class="table table-responsive">
                    <thead>
                        <th>Distributer/ Field Sales</th>
                        <th>Member Zone</th>
                        <ng-container *ngFor="let product of employee_sales[0]?.product_units">
                            <th>{{ product.name }}</th>
                        </ng-container>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Distributer Sale</td>
                            <td>{{distributer_sales[0]?.user.zone.zone }}</td>
                            <ng-container *ngFor="let product of distributer_sales_sum">
                                <th>{{ product | number }}</th>
                            </ng-container>
                        </tr>
                        <tr>
                            <td>Distributer Sale Vs Field Sale</td>
                            <td>{{employee_sales[0]?.user.zone.zone }}</td>
                            <ng-container *ngFor="let product of employee_sales_sum; let i = index">
                                <th>{{ employee_sales_sum[i]==distributer_sales_sum[i]? "Matched": "Not Matched" }}</th>
                            </ng-container>
                        </tr>
                        <tr>
                            <td>Field Sale</td>
                            <td>{{employee_sales[0]?.user.zone.zone }}</td>
                            <ng-container *ngFor="let product of employee_sales_sum">
                                <th>{{ product | number }}</th>
                            </ng-container>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->