<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
      <h3 class="m-0 font-weight-bold">Daily Call Reports</h3>
    </div>
    <div class="card-body">
      <div class="table">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
          </div>
          <div class="container-fluid">

    <p>Select one of the following</p>
    <div class="radio">
      <label>
        <input type="radio" name="feildwork" value="localworking" onclick="showLocal();" required> Local Working
      </label>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <label>
        <input type="radio" name="feildwork" value="outstation" onclick="showOut();" required> Out Station Working
      </label>
    </div>

    <!-- Local Working Start -->

    <div id="localworking" class="hide">
        <div class="row">
            <div class="col-lg-3 text-center">
                Daily Local Work Allowance
            </div>
            <div class="col-lg-3">
                <input type="text" name="localworkallowance" class="form-control textView" placeholder="Daily Local Work Allowance" value="0" readonly>
            </div>
        </div>
        
    </div>
    
    <!-- Local Working End -->

    <!-- Out Station Start -->

    <div id="outstation" class="hide">
        <h3>Traveling Details</h3>
        <div id="input_fields">
          <div class="row">
            <div class="col-lg">
              <input type="text" name="travelfrom[]" class="form-control" placeholder="Travel From">
            </div>
            <div class="col-lg">
              <input type="text" name="travelto[]" class="form-control" placeholder="Travel To">
            </div>
            <div class="col-lg ">
              <input type="text" id="kilometer0" name="kilometers[]" class="form-control textView" placeholder="Kilometers" oninput="addKilometers()">
            </div>
            <div class="col">
              <button class="btn btn-primary text-large" id="add_field">Add More</button>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3 text-center">Total Kilometer</div>
            <div class="col-lg-3"><input type="text" id="totalkilometers" name="totalkilometers" class=" form-control textView"  placeholder="Total Kilometers" readonly></div>

            <div class="col-lg-3 text-center">Kilometer Allowance</div>
            <div class="col-lg-3"><input id="kilometerallowance" type="text" name="kilometerallowance" class=" form-control textView" placeholder="Kilometer Allowance" value="0" readonly></div>
        </div>
        <div class="row">
            <div class="col-lg-3 text-center">Todays Traveling Expense</div>
            <div class="col-lg-3"><input type="text" id="travelexpense" name="travelexpense" class="form-control textView" placeholder="Todays Traveling Expense" oninput="addKilometers()" readonly></div>

            <div class="col-lg-3 text-center">Tour Allowance</div>
            <div class="col-lg-3"><input type="text" name="tourallowance" class="form-control textView" placeholder="Tour Allowance" value="0" readonly></div>
        </div>

        <!-- Night Stay Allowance Start -->

        <h5>Night Stay Allowance</h5>
        <div class="radio">
          <label>
            <input type="radio" name="nightallowance" value="no" onclick="nightStayNo();" checked> No
          </label>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <label>
            <input type="radio" name="nightallowance" value="yes" onclick="nightStayYes();"> Yes
          </label>
        </div>
        
        <div class="hide" id="nightstayamount">
            <div class="row">
                <div class="col-lg-3 text-center">Night Stay Allowance</div>
                <div class="col-lg-3">
                    <input type="text" name="nightstayallowanceamount" class="form-control textView" placeholder="Night Stay Allowance" value="0" readonly>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-lg-3 text-center">Description of Night Stay</div>
                <div class="col">
                    <input type="text" name="descriptionnightstay" class="form-control textView" placeholder="Description of Night Stay">
                </div>
            </div>
        </div>

        <!-- Night Stay Allowance End -->

    </div>
    
    <!-- Out Station End -->
    

    <h3>Petty Cash</h3>
    <p>Have you done Petty Cash Expense Today ?.</p>
    <div class="radio">
      <label>
        <input type="radio" name="pettycash" value="no" required> No
      </label>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <label>
        <input id="pettycashYes" type="radio" name="pettycash" value="yes" required> Yes
      </label>  
    </div>
    <div class="hide" id="amountpettycash">
        <div class="row">
            <div class="col-lg-3 text-center">Description of Night Stay</div>
            <div class="col">
                <input type="text" name="Petty Cash Amount" class="form-control textView" placeholder="Enter Amount">
            </div>
        </div>
    </div>
</div>

<!-- Feild Work Details End -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->