<div class="container-fluid">
  <div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Welcome <strong>{{employee.user.name}}</strong></h1>
  </div>
  <div class="row">
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.DISTRIBUTOR">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Purchase Orders</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Purchase Order Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Monthly Sale & Expense</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Monthly Sale &amp; Expense Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.DISTRIBUTOR">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Account Status</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Account Status Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.DISTRIBUTOR">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Growth Report</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Growth Report Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.DISTRIBUTOR">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Stock Analysis</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Stock Analysis Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <!--<div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.DISTRIBUTOR">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Expire Stock</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Expire Stock Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>-->
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.EMPLOYEE">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Doctor List</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Doctors Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3"
      *ngIf="employee.user.role_type === UserTypes.EMPLOYEE || employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Monthly Work Plan</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Monthly Work Plan Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <!--<div class="col-xl-4 col-sm-6 mb-3"
      *ngIf="employee.user.role_type === UserTypes.EMPLOYEE || employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Daily Call Report</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Daily Call Report Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>-->
    <div class="col-xl-4 col-sm-6 mb-3"
      *ngIf="employee.user.role_type === UserTypes.EMPLOYEE || employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Memorandum</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Memorandum Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3"
      *ngIf="employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Attendance</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Attendance Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <!--<div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Employee Activity Report</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Employee Activity Report Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>-->
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.MANAGER">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Target Assignment Employee</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Target Assignment Employee Status Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Monthly Zonal Sale Report</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Monthly Zonal Sale Report Generated Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.ADMIN">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Purchase Orders</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Purchase Orders have been Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.ADMIN">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Client Investment Ledger</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Click below to find the client ledger</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <!--<div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.ADMIN">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Employee Sale Report</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Click below to find the employee's sale report</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Distributor Sale Report</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Click below to find the distributor's sale report</h4>
          </div>
        </div>-
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>-->
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.ADMIN">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Employee Incentive Analysis</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Click below to find the analysis report</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.ADMIN || employee.user.role_type === UserTypes.MANAGER">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Distributor ledger</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Click below to find the distributor's ledger</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.EMPLOYEE">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Client Gifting Expenditure</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Expenditure Reports have been Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.EMPLOYEE">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Client Promotion Material Expenditure</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Expenditure Reports have been Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.MANAGER || employee.user.role_type === UserTypes.ADMIN">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Product Analysis Report</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Product Analysis Report details have been Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.MANAGER">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Budget Distribution</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Budget Distribution have been Submitted</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.MANAGER">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Client Investment</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Client Investment Ledger have been Submitted Till Today</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>
    <!--<div class="col-xl-4 col-sm-6 mb-3" *ngIf="employee.user.role_type === UserTypes.MANAGER">
      <div class="card bg-default o-hidden h-100">
        <div class="card-header">
          <h3 class="mb-0"><strong>Investment Return</strong></h3>
        </div>
        <div class="card-body">
          <div class="mr-4">
            <h4 class="mb-0">Total <strong>0</strong> Investment Return Report</h4>
          </div>
        </div>
        <a class="card-footer" href="#"><strong>View Details</strong></a>
      </div>
    </div>-->
  </div>
</div>