<form [formGroup]="doctorForm" (ngSubmit)="onSubmit()" class="card shadow">
    <div class="card-header d-flex align-items-center justify-content-between py-3">
      <h1 class="m-0 font-weight-bold text-primary">Doctors</h1>
      <div class="close-modal c-pointer" (click)="onClose()">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M12.59 6L10 8.59L7.41 6L6 7.41L8.59 10L6 12.59L7.41 14L10 11.41L12.59 14L14 12.59L11.41 10L14 7.41L12.59 6ZM10 0C4.47 0 0 4.47 0 10C0 15.53 4.47 20 10 20C15.53 20 20 15.53 20 10C20 4.47 15.53 0 10 0ZM10 18C5.59 18 2 14.41 2 10C2 5.59 5.59 2 10 2C14.41 2 18 5.59 18 10C18 14.41 14.41 18 10 18Z"
            fill="#4e73df" />
        </svg>
      </div>
    </div>
    <div *ngIf="loading" class="d-flex justify-content-center mt-3">
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    <div class="card-body" *ngIf="!loading">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="firstName" placeholder="First Name">
              <mat-error>
                First Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput type="text" formControlName="lastName" placeholder="Last Name">
              <mat-error>
                Last Name is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Address</mat-label>
              <input matInput type="text" formControlName="address" placeholder="Address">
              <mat-error>
                Address is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput type="text" formControlName="phoneNumber" placeholder="Phone Number">
              <mat-error>
                Phone Number is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <mat-form-field class="w-100" appearance="outline">
              <mat-label>Date of Birth</mat-label>
              <input matInput type="date" formControlName="dob" placeholder="Date of Birth">
              <mat-error>
                Date of Birth is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Date of Marriage</mat-label>
                <input matInput type="date" formControlName="dom" placeholder="Date of Marraige">
                <mat-error>
                  Date of Marriage is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Speciality</mat-label>
                <input matInput type="text" formControlName="speciality" placeholder="Speciality">
                <mat-error>
                  Speciality is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let type of typeList" [value]="type.value">{{type.value}}</mat-option>
                </mat-select>
                <mat-error>
                  Type is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select formControlName="status">
                  <mat-option>None</mat-option>
                  <mat-option [value]="true">Active</mat-option>
                  <mat-option [value]="false">In Active</mat-option>
                </mat-select>
                <mat-error>
                  Status is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </div>
          </div>
      </div>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-danger">Clear</button>
      <button class="btn btn-primary ml-2">Save</button>
    </div>
  </form>