<div class="container-fluid">
  <div class="card shadow mb-4">
    <div class="card-header py-3 d-flex justify-content-between">
      <h3 class="m-0 font-weight-bold">Work Plan Data</h3>
      <!-- <a class="btn btn-primary" (click)="onAddWorkPlan()"><i class="fas fa-plus" aria-hidden="true"></i> Add Work
        Plan</a> -->
    </div>
    <div class="card-body">
      <div class="table">
        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div id="dataTable_filter" class="dataTables_filter">
                <label>Search:<input type="search" class="form-control form-control-sm" placeholder=""
                    aria-controls="dataTable" /></label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <mat-table class="table" [dataSource]="dataSource" matSort matSortActive="plan_no"
                matSortDirection="asc" matSortDisableClear>
                
                <!-- columns -->
                <ng-container matColumnDef="plan_no">
                  <mat-header-cell *matHeaderCellDef mat-sort-header="plan_no">Plan No.</mat-header-cell>
                  <mat-cell *matCellDef="let element"><span>{{element.plan_no}}</span></mat-cell>
                </ng-container>

                <ng-container matColumnDef="user.name">
                  <mat-header-cell *matHeaderCellDef mat-sort-header="user.name">Name</mat-header-cell>
                  <mat-cell *matCellDef="let element"><span>{{element.user.name}}</span></mat-cell>
                </ng-container>

                <ng-container matColumnDef="from_date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header="from_date">From Date</mat-header-cell>
                  <mat-cell *matCellDef="let element"><span>{{element.from_date | date: "dd/MM/yyyy"}}</span></mat-cell>
                </ng-container>

                <ng-container matColumnDef="to_date">
                  <mat-header-cell *matHeaderCellDef mat-sort-header="to_date">To Date</mat-header-cell>
                  <mat-cell *matCellDef="let element"><span>{{element.to_date | date: "dd/MM/yyyy"}}</span></mat-cell>
                </ng-container>

                <ng-container matColumnDef="month">
                  <mat-header-cell *matHeaderCellDef mat-sort-header="month">Month</mat-header-cell>
                  <mat-cell *matCellDef="let element"><span>{{element.month}}</span></mat-cell>
                </ng-container>

                <ng-container matColumnDef="year">
                  <mat-header-cell *matHeaderCellDef mat-sort-header="year">Month</mat-header-cell>
                  <mat-cell *matCellDef="let element"><span>{{element.year}}</span></mat-cell>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <mat-header-cell class="col-1" *matHeaderCellDef></mat-header-cell>
                  <mat-cell class="col-1" *matCellDef="let row" style="overflow:visible;">
                    <mat-checkbox (change)="updateAttendance($event, row.id)" [ngModel]="row.isPresent" color="primary">Present</mat-checkbox>
                  </mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="noData">
                  <mat-footer-cell *matFooterCellDef colspan="4">
                    No data.
                  </mat-footer-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
              </mat-table>
              <div *ngIf="dataSource.loading$ | async" class="d-flex justify-content-center mt-3">
                <mat-spinner diameter="40"></mat-spinner>
              </div>
              <mat-paginator [length]="dataSource.totalItems" [pageSizeOptions]="[2, 10, 25, 50, 100]" [pageSize]="10"
                showFirstLastButtons></mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->