<div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between">
        <h3 class="m-0 font-weight-bold">Target Assignment for Employees</h3>
        <a class="btn btn-primary" (click)="onAddTarget()">Add Target Assignment <i class="fa fa-plus"></i></a>
      </div>
      <div class="card-body">
        <div class="table">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row" [formGroup]="form">
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Company</mat-label>
                      <mat-select formControlName="company_id" (selectionChange)="loadTargetAssignmentPage()">
                          <mat-option>None</mat-option>
                          <mat-option *ngFor="let company of lookupCompanies" [value]="company.id">{{ company.name }}</mat-option>
                      </mat-select>
                      <mat-error>
                          Company is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Zone</mat-label>
                      <mat-select formControlName="zone_id" (selectionChange)="loadTargetAssignmentPage()">
                          <mat-option>None</mat-option>
                          <mat-option *ngFor="let zone of lookupZones" [value]="zone.id">{{ zone.zone }}</mat-option>
                      </mat-select>
                      <mat-error>
                          Zone is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Year</mat-label>
                      <mat-select formControlName="year" (selectionChange)="loadTargetAssignmentPage()">
                          <mat-option>None</mat-option>
                          <mat-option [value]="2020">2020</mat-option>
                          <mat-option [value]="2021">2021</mat-option>
                          <mat-option [value]="2022">2022</mat-option>
                          <mat-option [value]="2023">2023</mat-option>
                          <mat-option [value]="2024">2024</mat-option>
                      </mat-select>
                      <mat-error>
                          Year is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <mat-form-field class="w-100" appearance="outline">
                      <mat-label>Month</mat-label>
                      <mat-select formControlName="month" (selectionChange)="loadTargetAssignmentPage()">
                          <mat-option>None</mat-option>
                          <mat-option [value]="1">Jan</mat-option>
                          <mat-option [value]="2">Feb</mat-option>
                          <mat-option [value]="3">Mar</mat-option>
                          <mat-option [value]="4">Apr</mat-option>
                          <mat-option [value]="5">May</mat-option>
                          <mat-option [value]="6">Jun</mat-option>
                          <mat-option [value]="7">Jul</mat-option>
                          <mat-option [value]="8">Aug</mat-option>
                          <mat-option [value]="9">Sep</mat-option>
                          <mat-option [value]="10">Oct</mat-option>
                          <mat-option [value]="11">Nov</mat-option>
                          <mat-option [value]="12">Dec</mat-option>
                      </mat-select>
                      <mat-error>
                          Month is <strong>required</strong>
                      </mat-error>
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <mat-table class="smsAction-table" [dataSource]="dataSource" matSort matSortActive="id"
                  matSortDirection="asc" matSortDisableClear>
  
                  <ng-container matColumnDef="employee_name">
                    <mat-header-cell *matHeaderCellDef>Employee</mat-header-cell>
                    <mat-cell *matCellDef="let element"><span>{{element.employee_name}}</span></mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="year">
                    <mat-header-cell *matHeaderCellDef>Year</mat-header-cell>
                    <mat-cell *matCellDef="let element"><span>{{element.year}}</span></mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="month">
                    <mat-header-cell *matHeaderCellDef>Month</mat-header-cell>
                    <mat-cell *matCellDef="let element"><span>{{(element.month+"/01/2000") | date:"MMMM"}}</span></mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="product_name">
                    <mat-header-cell *matHeaderCellDef>Product</mat-header-cell>
                    <mat-cell *matCellDef="let element"><span>{{element.product_name}}</span></mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="order_unit">
                    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
                    <mat-cell *matCellDef="let element"><span>{{element.order_unit | number}}</span></mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="actions">
                    <mat-header-cell class="col-1" *matHeaderCellDef></mat-header-cell>
                    <mat-cell class="col-1" *matCellDef="let row" style="overflow:visible;">
                      <a class="dropdown-item">
                        <svg width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path
                            d="M11.7676 9.68359C11.7129 9.73828 11.7129 9.79297 11.7129 9.84766V12.9375H2.08789V3.3125H8.67773C8.73242 3.3125 8.78711 3.3125 8.8418 3.25781L9.7168 2.38281C9.85352 2.24609 9.74414 2 9.55273 2H2.08789C1.34961 2 0.775391 2.60156 0.775391 3.3125V12.9375C0.775391 13.6758 1.34961 14.25 2.08789 14.25H11.7129C12.4238 14.25 13.0254 13.6758 13.0254 12.9375V8.97266C13.0254 8.78125 12.7793 8.67188 12.6426 8.80859L11.7676 9.68359ZM16.0332 4.1875C16.6621 3.55859 16.6621 2.54688 16.0332 1.91797L14.8574 0.742188C14.2285 0.113281 13.2168 0.113281 12.5879 0.742188L5.42383 7.90625L5.15039 10.3945C5.06836 11.1055 5.66992 11.707 6.38086 11.625L8.86914 11.3516L16.0332 4.1875ZM13.3535 5.00781L8.26758 10.0938L6.46289 10.3125L6.68164 8.50781L11.7676 3.42188L13.3535 5.00781ZM15.1035 2.84766C15.2402 2.95703 15.2402 3.12109 15.1309 3.25781L14.2832 4.10547L12.6973 2.49219L13.5176 1.67188C13.627 1.53516 13.8184 1.53516 13.9277 1.67188L15.1035 2.84766Z"
                            fill="#6B6B6B" />
                        </svg>
                      </a>
                    </mat-cell>
                  </ng-container>
  
                  <ng-container matColumnDef="noData">
                    <mat-footer-cell *matFooterCellDef colspan="4">
                      No data.
                    </mat-footer-cell>
                  </ng-container>
  
                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  
                  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
                </mat-table>
                <div *ngIf="dataSource.loading$ | async" class="d-flex justify-content-center mt-3">
                  <mat-spinner diameter="40"></mat-spinner>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->