<div class="container-fluid">
    <div class="card shadow mb-4">
      <div class="card-header py-3 d-flex justify-content-between">
        <h3 class="m-0 font-weight-bold">Stock Analysis</h3>
        <a class="btn btn-primary" ><i class="fas fa-plus" aria-hidden="true"></i></a>
      </div>
      <div class="card-body">
        <div class="table">
          <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 994.5 765" style="enable-background:new 0 0 994.5 765;" xml:space="preserve">
<style type="text/css">
	.st0{fill:none;stroke:#0F4568;stroke-miterlimit:10;}
	.st1{fill:url(#SVGID_1_);}
	.st2{fill:none;stroke:#6D6E71;stroke-width:0.25;stroke-miterlimit:10;}
	.st3{fill:none;stroke:#0F4568;stroke-width:0.5;stroke-miterlimit:10;}
	.st4{fill:#124A7E;}
	.st5{fill:url(#SVGID_2_);}
	.st6{fill:#5A7C93;}
	.st7{font-family:'ProximaNova-Regular';}
	.st8{font-size:18px;}
	.st9{font-family:'Gotham-Medium';}
	.st10{font-size:12.9223px;}
	.st11{font-size:22.4932px;}
</style>
<g>
	<line class="st0" x1="149.2" y1="648" x2="149.2" y2="657.1"/>
	<line class="st0" x1="201.2" y1="648" x2="201.2" y2="657.1"/>
	<line class="st0" x1="253.3" y1="648" x2="253.3" y2="657.1"/>
	<line class="st0" x1="305.3" y1="648" x2="305.3" y2="657.1"/>
	<line class="st0" x1="357.3" y1="648" x2="357.3" y2="657.1"/>
	<line class="st0" x1="409.4" y1="648" x2="409.4" y2="657.1"/>
	<line class="st0" x1="461.4" y1="648" x2="461.4" y2="657.1"/>
	<line class="st0" x1="513.5" y1="648" x2="513.5" y2="657.1"/>
	<line class="st0" x1="565.5" y1="648" x2="565.5" y2="657.1"/>
	<line class="st0" x1="617.5" y1="648" x2="617.5" y2="657.1"/>
	<line class="st0" x1="669.6" y1="648" x2="669.6" y2="657.1"/>
	<line class="st0" x1="721.6" y1="648" x2="721.6" y2="657.1"/>
	<line class="st0" x1="773.7" y1="648" x2="773.7" y2="657.1"/>
	<line class="st0" x1="825.7" y1="648" x2="825.7" y2="657.1"/>
	<line class="st0" x1="877.8" y1="648" x2="877.8" y2="657.1"/>
	<g>
		<linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="516.5561" y1="180.1279" x2="633.6416" y2="1724.7557">
			<stop  offset="0" style="stop-color:#FFFFFF"/>
			<stop  offset="1" style="stop-color:#54B5D3"/>
		</linearGradient>
		<rect x="122" y="24.1" class="st1" width="812.7" height="623.9"/>
		<g>
			<line class="st2" x1="127.7" y1="544.9" x2="934.7" y2="544.9"/>
			<line class="st2" x1="127.7" y1="440.7" x2="934.7" y2="440.7"/>
			<line class="st2" x1="127.7" y1="336.6" x2="934.7" y2="336.6"/>
			<line class="st2" x1="127.7" y1="232.4" x2="934.7" y2="232.4"/>
			<line class="st2" x1="127.7" y1="128.3" x2="934.7" y2="128.3"/>
		</g>
	</g>
	<g>
		<g>
			<text transform="matrix(1 0 0 1 73.5904 647.9805)" class="st6 st7 st8">0%</text>
		</g>
		<g>
			<text transform="matrix(1 0 0 1 69.3785 552.0069)" class="st6 st7 st8">200</text>
		</g>
		<g>
			<text transform="matrix(1 0 0 1 69.6485 432.6642)" class="st6 st7 st8">400</text>
		</g>
		<g>
			<text transform="matrix(1 0 0 1 69.3516 343.7989)" class="st6 st7 st8">600</text>
		</g>
		<g>
			<text transform="matrix(1 0 0 1 69.4327 242.5137)" class="st6 st7 st8">800</text>
		</g>
		<g>
			<text transform="matrix(1 0 0 1 66.1119 136.6905)" class="st6 st7 st8">1000</text>
		</g>
	</g>
	<line class="st3" x1="125.9" y1="648" x2="955.1" y2="648"/>
	<rect x="665.9" y="567.2" class="st4" width="25.9" height="80.7"/>
	<rect x="137.7" y="187" class="st4" width="25.9" height="461"/>
	<rect x="189.4" y="243" class="st4" width="25.9" height="405"/>
	<rect x="241.1" y="500.8" class="st4" width="25.9" height="147.2"/>
	<rect x="292.7" y="467.8" class="st4" width="25.9" height="180.2"/>
	<rect x="347.6" y="542.8" class="st4" width="25.9" height="105.1"/>
	<rect x="401.1" y="311.6" class="st4" width="25.9" height="336.3"/>
	<rect x="454.1" y="336" class="st4" width="25.9" height="312"/>
	<rect x="507" y="427.3" class="st4" width="25.9" height="220.7"/>
	<rect x="560" y="372.2" class="st4" width="25.9" height="275.8"/>
	<rect x="719.2" y="467.8" class="st4" width="25.9" height="180.2"/>
	<rect x="770.8" y="492" class="st4" width="25.9" height="156"/>
	<rect x="824.7" y="507.2" class="st4" width="25.9" height="140.7"/>
	<rect x="876" y="414" class="st4" width="25.9" height="234"/>
	<rect x="616.4" y="322.8" class="st4" width="25.9" height="325.2"/>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 132.2717 716.064)" class="st9 st10">Neolac-1</text>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 182.5145 716.8519)" class="st9 st10">Neolac-2</text>
	<g>
		<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 230.8227 726.0516)" class="st9 st10">Neolacrise-3</text>
	</g>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 266.046 738.8759)" class="st9 st10">Neolac Premature</text>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 347.8633 703.4793)" class="st9 st10">F-lac </text>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 395.0869 711.3523)" class="st9 st10">Pro-en </text>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 486.2925 724.2548)" class="st9 st10">Rice Cereals </text>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 431.8559 729.8704)" class="st9 st10">5 Mix &amp; 3 Fruit </text>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 553.7949 706.1368)" class="st9 st10">Ecd-1 </text>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 606.7939 706.1379)" class="st9 st10">Ecd-2</text>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 654.2672 716.0649)" class="st9 st10">Ecd-grow</text>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 703.972 716.0649)" class="st9 st10">Gaullac-1 </text>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 758.6916 716.0635)" class="st9 st10">Gaullac-2</text>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 801.7805 724.254)" class="st9 st10">Gaullacrise-3</text>
	<text transform="matrix(0.7071 -0.7071 0.7071 0.7071 854.8284 716.8533)" class="st9 st10">Gaullac-lf</text>
</g>
<text transform="matrix(1 0 0 1 15.6783 70.8221)" class="st4 st9 st11">STOCK ANAYLSIS REPORT</text>
</svg>

              </div>
            </div>
          </div>
        </div>
      </div> 
    </div> 